body {
    height: 100vh;
    position: relative;
    margin: 0;
    background-color: rgb(168, 235, 255);
    overflow: hidden;
}

#mar {
    position: absolute;
    width: 100%;
    height: 200px;
    bottom: 0;
    background: linear-gradient(to top, rgb(54, 54, 255), aqua);
}

#barquinho {
    position: absolute;
    bottom: 100px;
    width: 400px;
    height: 400px;
    transform: rotateY(180deg);
    background-image: url(https://images.vexels.com/media/users/3/206225/isolated/preview/94dd0d044efc77eb85b73a91be75415a-ilustracao-de-barco-historico-simples.png);
    background-size: cover;
    transform-origin: center;
    animation: movimentoBarquinho 8s infinite ease-in-out;
}

#nuvem {
    position: absolute;
    width: 300px;
    height: 100px;
    top: 10%;
    background-color: rgb(159, 255, 255);
    border-radius: 50%;
    box-shadow: 1px 1px 1px;
    animation: movimentoNuvem 10s infinite ease-in-out;
}

@keyframes movimentoBarquinho {
    0% {
        left: -400px;
    }

    100% {
        left: 100%;
    }
}

@keyframes movimentoNuvem {
    0% {
        left:-300px;
    }

    100% {
        left: 100%;
    }
}