body {
    height: 100vh;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;  
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; 
}

.black {
    background-color: rgb(30, 30, 30);
    color: white;
    font-size: 20px;
    margin: 10px;
    padding: 20px;
    border-radius: 20px;
}

#a {
    grid-row: 1;
    grid-column: 1 / 4;
}

#b {
    grid-row: 1;
    grid-column: 6 / 7;
}

#c {
    grid-row: 2 / 4;
    grid-column: 1 / 3;
}

#container {
    grid-row: 2 / 4;
    grid-column: 3 / 7;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.grey {
    background-color: grey;
    color: white;
    font-size: 20px;
    margin: 10px;
    padding: 20px;
    border-radius: 20px;
}

#e {
    grid-row: 1;
    grid-column: 1;
}

#f {
    grid-row: 1;
    grid-column: 2
}

#g {
    grid-row: 1;
    grid-column: 3;
}

#m {
    grid-row: 2;
    grid-column: 1;
}

#i {
    grid-row: 2;
    grid-column: 2;
}

#j {
    grid-row: 2;
    grid-column: 3;
}