body {
    height: 100vh;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: 1fr 4fr 1fr;  
    grid-template-columns: 1fr 4fr; 
}

header {
    background-color: red;
    grid-column: 1 / 3;
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 30px;
    border: 3px solid black;
}

nav {
    background-color: greenyellow;
    grid-column: 1;
    grid-row: 2 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 30px;
    border: 3px solid black;
}

main {
    background-color: orange;
    grid-column: 2;
    grid-row: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 30px;
    border: 3px solid black;
}

footer {
    background-color: green;
    grid-column: 2 / 3;
    grid-row: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 30px;
    border: 3px solid black;
}