* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

.container {
    height: 100vh;
    width: 100%;

    display: grid;

    grid-template-rows: auto 1fr auto;

    grid-template-columns: 200px 1fr;

    grid-template-areas:
        "header header"
        "nav    main"
        "footer footer";
}

header {
    grid-area: header;
    background-color: rgb(233, 8, 83);
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 24px;
    border: 3px solid #d81b60;
}

nav {
    grid-area: nav;
    background-color: greenyellow;
    padding: 20px;
    border: 3px solid #968d4e;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: white;
}

main {
    grid-area: main;
    background-color: orange;
    padding: 30px;
    border: 3px solid #f57c00;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 24px;
}

footer {
    grid-area: footer;
    background-color: aqua;
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 24px;
    border: 3px solid #00897b;
}
