html, body {
    height: 100vh;
    width: 100%;
    margin: 0;
}

.box { /*Todas as box ocupam 100% da largura, mas ocupam apenas 25% da altura.*/
    height: 25vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#roxo {
    background-color: blueviolet;
}

#verde {
    background-color: green;
}

#vermelho {
    background-color: red;
}

#amarelo {
    background-color: yellow;
}