* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: auto 1fr auto;
    gap: 3px;
    padding: 3px;
}

header {
    background-color: yellow;
    grid-column: 1 / 4;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

#left-aside {
    background-color: green;
    grid-column: 1;
    grid-row: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

#center {
    grid-column: 2;
    grid-row: 2;
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: 3px;
}

#banner {
    background-color: red;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

main {
    background-color: blue;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-weight: bold;
}

#low-content {
    background-color: green;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

#right-aside {
    background-color: yellow;
    grid-column: 3;
    grid-row: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

footer {
    background-color: blue;
    grid-column: 1 / 4;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

@media (max-width: 768px) {
    body {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto auto auto auto;
    }

    header {
        grid-column: 1;
        grid-row: 1;
    }

    #left-aside {
        display: none;
    }

    #center {
        grid-column: 1;
        grid-row: 2 / 6;
    }

    #banner {
        order: 1;
    }

    main {
        order: 3;
    }

    #low-content {
        order: 5;
    }

    #right-aside {
        grid-column: 1;
        grid-row: 6;
    }

    footer {
        grid-column: 1;
        grid-row: 7;
    }
}